@media (max-width: 3000px) {
  .container {
    max-width: 1630px;
  }
  .container-small {
    max-width: 1390px;
  }
}
@media (max-width: 1440px) {
  .container {
    max-width: 1320px;
  }
  .container-small {
    max-width: 1080px;
  }

  /*--------Header-----------------------------------------------------------------------*/

  header .Advantage .SecondText {
    max-width: 495px;
  }
}

@media (max-width: 1070px) {
  .container {
    max-width: 904px;
  }
  .container-small {
    max-width: 934px;
  }

  /*--------Header-----------------------------------------------------------------------*/

  header .Advantage .SecondText {
    max-width: 408px;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 690px;
  }
  .container-small {
    max-width: 690px;
  }

  /*--------Header-----------------------------------------------------------------------*/

  header .Advantage .SecondText {
    max-width: 280px;
  }

  header .header-container {
    grid-template-areas:
      "Contacts"
      "Logo"
      "nav";
  }

  header .contacts {
    justify-content: flex-start;
    margin-bottom: 30px;
  }

  header .Logo {
    margin-bottom: 30px;
  }

  header .nav-ul {
    justify-content: flex-start;
  }
  /*-----Publication----------------------------------------------------------------------------*/
  .Publication .CollectionCards {
    grid-template-areas:
      "Card1 Card2"
      "Card3 Card3";
    grid-template-columns: repeat(2, 1fr);
  }
  /*------Footer----------------------------------------------------------------------------*/
  .Footer-container {
    display: block;
  }

  .Footer-container .CopyrightText-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}

@media (max-width: 760px) {
  .container {
    max-width: 315px;
  }
  .container-small {
    max-width: 345px;
  }

  .mobile-hcont {
    max-width: 345px;
  }

  /*------Header----------------------------------------------------------------------------*/

  header {
    padding: 0px;
    padding-bottom: 60px;
  }

  header .Logo {
    margin-bottom: 0px;
  }

  header .contacts {
    background: rgba(245, 245, 250, 0.2);
    margin-bottom: 0px;
    margin-left: -60px;
    margin-right: -60px;
    padding: 10px 15px;
  }

  header .Circle {
    display: none;
  }

  header .Logo,
  header .burger-menu {
    margin-top: 15px;
  }

  header .Logo .Logo-img {
    max-height: 32px;
  }

  header .Logo .Logo-slash-img {
    max-height: 28px;
  }
  header .Logo .LogoText {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
  }

  header .AdressText {
    display: none;
  }

  header .LogoFacebook {
    display: none;
  }

  header .nav {
    display: none;
  }

  header .contacts {
    justify-content: space-between;
  }

  header .header-container {
    grid-template-areas:
      "Contacts Contacts"
      "Logo Burger";
  }

  header .burger-menu {
    display: flex;
  }

  header .burger-menu .line1,
  header .burger-menu .line2,
  header .burger-menu .line3 {
    background-color: #fff;
  }

  header .Advantage .SecondText {
    max-width: 308px;
  }

  header .Advantage .Nav {
    display: block;
  }

  header .Advantage .Nav .SecondText {
    margin-left: 20px;
  }

  header .Consultation .TitleText {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  /*-----Publication----------------------------------------------------------------------------*/
  .Publication .CollectionCards {
    grid-template-areas:
      "Card1"
      "Card2"
      "Card3";
    grid-template-columns: 1fr;
  }

  .Publication .TitleText {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  /*------Footer----------------------------------------------------------------------------*/

  .Footer .Circle {
    display: none;
  }

  .Footer-container {
    display: block;
  }

  .Footer .Map {
    display: block;
    text-align: center;
  }

  .Footer .contacts-footer .LogoFacebook2-Link {
    display: block;
    text-align: center;
  }

  .Footer .contacts-footer {
    display: block;
    text-align: center;
  }

  .Footer .NavigationText {
    display: block;
    margin-top: 10px;
  }

  .Footer .TelText {
    display: block;
    margin-top: 10px;
  }

  .Footer .EmailText {
    display: block;
    margin-top: 10px;
  }

  .Footer .CopyrightText {
    display: block;
    text-align: center;
    margin-top: 30px;
  }

  .Footer-container .CopyrightText-container {
    margin-top: 0px;
  }
}

@media (max-width: 375px) {
  header .contacts {
    margin-left: -15px;
    margin-right: -15px;
  }
}
