@media (max-width: 3000px) {
  .container {
    max-width: 1630px;
  }
  .container-small {
    max-width: 1390px;
  }

  .Clients .Clients-container {
    max-width: 1920px;
    padding: 0px;
  }

  /*-----Logo-section----------------------------------------------------------------------------*/

  .Logo-section {
    aspect-ratio: 1/0.521;
    min-height: 0vh;
    background-size: contain;
  }
}
@media (max-width: 1440px) {
  .container {
    max-width: 1320px;
  }
  .container-small {
    max-width: 1110px;
  }

  /*--------Header-----------------------------------------------------------------------*/

  header .Advantage .SecondText {
    max-width: 495px;
  }

  /*--------Description-section-----------------------------------------------------------------------*/
  .Description-section .tab-pane {
    max-width: 581px;
  }

  /*-----Logo-section----------------------------------------------------------------------------*/

  .Logo-section {
    aspect-ratio: 1/0.555;
    min-height: 0vh;
    background-size: contain;
  }

  /*-----------Clients----------------------------------------------------------------------*/

  .Clients .partners-logo {
    border-radius: 0px;
  }

  /*-----------Clients----------------------------------------------------------------------*/
  .Publication {
    margin-top: 0px;
  }

  /*-----------Team----------------------------------------------------------------------*/

  .Team .item-container {
    max-height: 390px;
  }
}

@media (max-width: 1070px) {
  .container {
    max-width: 904px;
  }
  .container-small {
    max-width: 934px;
  }

  /*--------Header-----------------------------------------------------------------------*/

  header .Advantage .SecondText {
    max-width: 408px;
  }

  /*-----Logo-section----------------------------------------------------------------------------*/

  .Logo-section {
    aspect-ratio: 1/0.75;
    background-size: contain;
  }

  /*--------Description-section-----------------------------------------------------------------------*/
  .Description-section .tab-pane {
    max-width: 405px;
  }
  /*-----------Team----------------------------------------------------------------------*/

  .Team .item-container {
    max-height: 768px;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 690px;
  }
  .container-small {
    max-width: 690px;
  }

  /*--------Header-----------------------------------------------------------------------*/

  header .Advantage .SecondText {
    max-width: 280px;
  }

  .Header-section .header-container {
    grid-template-areas:
      "Contacts"
      "Logo"
      "nav";
  }

  header .contacts {
    justify-content: flex-start;
    margin-bottom: 30px;
  }

  header .Logo {
    margin-bottom: 30px;
  }

  header .nav-ul {
    justify-content: flex-start;
  }

  /*--------Description-section-----------------------------------------------------------------------*/

  .Description-section .Pills {
    overflow-y: hidden;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
  }

  .Description-section .nav-pills {
    flex-direction: column;
    justify-content: center;
    gap: 60px;
  }

  .Description-section .nav-SecondText {
  }

  .Description-section .Description hr {
    width: 648px;
    height: 4px;
  }

  .Description-section .tab-pane {
    max-width: 648px;
  }

  /*-----Logo-section----------------------------------------------------------------------------*/

  .Logo-section {
    aspect-ratio: 1/1.334;
    background-size: cover;
  }

  /*-----Publication----------------------------------------------------------------------------*/
  .Publication .CollectionCards {
    grid-template-areas:
      "Card1 Card2"
      "Card3 Card3";
    grid-template-columns: repeat(2, 1fr);
  }

  /*-----Clients----------------------------------------------------------------------------*/
  .Clients .partner {
    max-width: 33.3%;
  }

  /*-----Team----------------------------------------------------------------------------*/

  .Team .item-container {
    max-height: 936px;
    display: block;
  }

  .Team .item .Slide-Photo {
    max-height: 500px;
    max-width: none;
    width: 100%;
    border-radius: 12px 12px 0px 0px;
  }

  /*-----Cards-section----------------------------------------------------------------------------*/
  .Cards-section .Cards {
    grid-template-columns: repeat(2, 1fr);
  }

  /*------Footer----------------------------------------------------------------------------*/
  .Footer-container {
    display: block;
  }

  .Footer-container .CopyrightText-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}

@media (max-width: 760px) {
  .container {
    max-width: 345px;
  }
  .container-small {
    max-width: 345px;
  }

  .mobile-hcont {
    max-width: 345px;
  }

  /*------Header----------------------------------------------------------------------------*/

  .Header-section {
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 60px;
  }

  .Header-section .Logo {
    margin-bottom: 0px;
  }

  .Header-section .contacts {
    background: rgba(245, 245, 250, 0.2);
    margin-bottom: 0px;
    margin-left: -60px;
    margin-right: -60px;
    padding: 10px 15px;
  }

  .Header-section .Circle {
    display: none;
  }

  .Header-section .Logo,
  .Header-section .burger-menu {
    margin-top: 15px;
  }

  .Header-section .Logo .Logo-img {
    max-height: 32px;
  }

  .Header-section .Logo .Logo-slash-img {
    max-height: 28px;
  }
  .Header-section .Logo .LogoText {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
  }

  .Header-section .AdressText {
    display: none;
  }

  .Header-section .LogoFacebook {
    display: none;
  }

  .Header-section .nav {
    display: none;
  }

  .Header-section .contacts {
    justify-content: space-between;
  }

  .Header-section .header-container {
    grid-template-areas:
      "Contacts Contacts"
      "Logo Burger";
  }

  .Header-section .burger-menu {
    display: flex;
  }

  .Header-section .burger-menu .line1,
  .Header-section .burger-menu .line2,
  .Header-section .burger-menu .line3 {
    background-color: #fff;
  }

  .Header-section .Advantage .SecondText {
    max-width: 308px;
  }

  .Header-section .Advantage .Nav {
    display: block;
  }

  .Header-section .Advantage .Nav .SecondText {
    margin-left: 20px;
  }

  .Header-section .Consultation .TitleText {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  /*-----Logo-section----------------------------------------------------------------------------*/

  .Logo-section .SecondText {
    max-width: 315px;
  }

  /*-----Publication----------------------------------------------------------------------------*/

  .Logo-section {
    aspect-ratio: 1/1.6;
  }

  /*-----Publication----------------------------------------------------------------------------*/
  .Publication .CollectionCards {
    grid-template-areas:
      "Card1"
      "Card2"
      "Card3";
    grid-template-columns: 1fr;
  }

  .Publication .TitleText {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  /*-----Service----------------------------------------------------------------------------*/
  .Cards-section .TitleText {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
  }

  .Cards-section .Cards {
    margin-top: 30px;
    gap: 30px;
  }

  /*--------Description-section-----------------------------------------------------------------------*/

  .Description-section {
    padding-top: 30px;
  }

  .Description-section .nav-SecondText {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
  }

  .Description-section .Description hr {
    width: 315px;
  }

  .Description-section .nav-pills .TitleText {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }

  .Description-section .nav-pills {
    gap: 30px;
  }

  /*-----Clients----------------------------------------------------------------------------*/
  .Clients .partner {
    max-width: 100%;
  }

  .Clients .partners-logo {
    max-height: 720px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  /*-----Team----------------------------------------------------------------------------*/

  .Team .item-container {
    max-height: 1087px;
    display: block;
  }

  .Team .item .Slide-Photo {
    height: 500px;
    max-width: 315px;
    width: 100%;
    border-radius: 12px 12px 0px 0px;
  }

  .Team .Slide-TitleText {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
  }

  /*-----Cards-section----------------------------------------------------------------------------*/

  .Cards-section {
    padding-top: 30px;
  }

  .Cards-section .Cards {
    grid-template-columns: repeat(1, 1fr);
  }

  /*------Footer----------------------------------------------------------------------------*/

  .Footer .Circle {
    display: none;
  }

  .Footer-container {
    display: block;
  }

  .Footer .Map {
    display: block;
    text-align: center;
  }

  .Footer .contacts-footer .LogoFacebook2-Link {
    display: block;
    text-align: center;
  }

  .Footer .contacts-footer {
    display: block;
    text-align: center;
  }

  .Footer .NavigationText {
    display: block;
    margin-top: 10px;
  }

  .Footer .TelText {
    display: block;
    margin-top: 10px;
  }

  .Footer .EmailText {
    display: block;
    margin-top: 10px;
  }

  .Footer .CopyrightText {
    display: block;
    text-align: center;
    margin-top: 30px;
  }

  .Footer-container .CopyrightText-container {
    margin-top: 0px;
  }
}

@media (max-width: 375px) {
  .Header-section .contacts {
    margin-left: -15px;
    margin-right: -15px;
  }
}
