* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #c4c4c4;
}

img {
  max-width: 100%;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.25;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.TitleText {
  display: none;
}

.mg {
  margin: 50px 50px;
}
.bg {
  background-color: #e6e6e6;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix {
  display: block;
  clear: both;
}

.square {
  display: block;
  text-align: center;
  width: 200px;
  height: 200px;
  background-color: #fc8f8f;
}

.square-small {
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: #fc8f8f;
}

.Second-Level > .Intermediate-Level > .two {
  margin-right: 15px;
}
.Second-Level > .Intermediate-Level > .three {
  margin-right: 15px;
}
.Second-Level > .Intermediate-Level > .four {
  margin-right: 15px;
}
.Third-Level > .one {
  margin-right: 15px;
}
.Third-Level > .Intermediate-Level > .three {
  margin-right: 15px;
}
